geckodriver.log
ranking.json

# ignore directory .vscode/ and venv/
.vscode/
venv/
gecko/
Instaladores/
# Ignore driver
geckodriver.exe
# Ignore arquivos OLD
OLD_instalar_dependencias.bat
OLD_plug_and_play.ps1
